h1{
text-align:center;
color:green;
text-decoration:underline;
}

#section{
margin-top:10%;
margin-left:43%;

}
body{

background-color:pink;
}
input{
padding:5px;
}
#machine_name
{
margin-left:-2px;
height:25px;
}
#serialno
{
margin-left:-2px;
height:25px;

}
#time{
margin-left:-1px;
width:164px;

}
label{

color:blue;
}
#enter{
width:180px;
margin-left:-2px;
height:30px;
}
input[type=submit]{
width:180px;
color:red;
}
button{
width:180px;
height:30px;
}