body{
background-color:pink;
color:green;
}
h1{
text-align:center;
text-decoration:underline;
color:green;
}
div{
margin-left:43%;
margin-top:10%;
}
button{
width:170px;
height:20px;
}
#enter{

width:170px;
color:red;
}
select{
width:70px;
}