div{
margin-left:45%;
margin-top:10%;
}
h1{
text-align:center;
color:green;
text-decoration:underline;
}
select{
width:70px;
}
#enter{

width:170px;
color:red;
}
body{
background-color:pink;
color:green;
}
button{
width:170px;
height:20px;
}